@use '../helpers' as *;

.burger-button {
    @include square(rem(32));
    @include border-gradient;

    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent;
    padding: rem(8);
    z-index: 10;

    &.is-active {
        .burger-button__line {
            &:first-child {
                rotate: 45deg;
                transform-origin: 0;
                translate: 0.2em 0.1em;
            }

            &:nth-child(2) {
                rotate: -45deg;
            }

            &:last-child {
                width: 0;
            }
        }

    }
    
    &__line {
        background-color: var(--color-light);
        width: 100%;
        height: rem(2);
        transition-duration: var(--transition-duration);

        &:nth-child(2) {
            align-self: end;
            width: 80%;
        }

        &:last-child {
            align-self: end;
            width: 50%;
        } 
    }
}