@use '../helpers' as *;

.button {
    @include border-gradient;

    position: relative;
    overflow: hidden;

    width: rem(205);
    height: rem(50);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--color-light);
    background: var(--color-accent);
    font-weight: 700;
    letter-spacing: rem(1.5);
    transition-duration: var(--transition-duration);

    span {
        position: relative;
        z-index: 1;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: var(--color-dark);
        opacity: 0;
        transition: opacity var(--transition-duration) ease-in-out;
    }

    @include hover {
        &::before {
            opacity: 1;
        }
    }

    &--dark {
        background: var(--color-dark-blue);

        &::before {
            background: var(--color-accent);
        }

        @include hover {
            &::before {
                opacity: 1;
            }
        }
    }
}
