@use '../helpers' as *;

.cards {
    --columns: 3;

    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    align-items: start;
    gap: rem(30);
    
    @include laptop {
        --columns: 2;
    }

    @include tablet {
        --columns: 1;
    }

    &__card {
        @include border-light;

        position: relative;
        display: flex;
        flex-direction: column;
        align-self: start;
        
        row-gap: var(--padding-block-y);
        width: 100%;
        height: rem(291);
        padding: rem(38) rem(39) rem(25) rem(32);
        background-color: var(--color-dark-blue);

        @include desktop {
            padding: rem(25);
        }

        @include hover {
            @include border-gradient;
        }
        
        &-icon {
            margin-bottom: rem(48);
        }

        &-description {
            max-height: rem(84);
            overflow: hidden;
            transition: 0.8s;
        }

        &-button {
            @include hide;
            
            position: absolute;
            bottom: 0;
            translate: 50% 20%;
            width: rem(177);
            background-color: var(--color-dark-blue);
            z-index: 2;
        }

        @include hover {
            background: linear-gradient(0, rgba(37, 37, 50, 0),rgba(37, 37, 50, 0.91) 53.06%,rgb(37, 37, 50) 100%);

            .cards__card-button {
                @include show;

                translate: 50% -50%;
            }
        }

        &.is-active {
            height: auto;

            @include hover {
                background: var(--color-dark-blue);
            }

            .cards__card-description {
                max-height: rem(500);
                overflow: visible;

            }

            .cards__card-button {
                display: none;
            }
        }
    }
}


