@use '../helpers' as *;

.choose {
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: rem(48);
        padding-bottom: fluid(150, 100);

        @include tablet {
            flex-direction: column;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        row-gap: rem(32);


        @include tablet-above {
            width: rem(548);
        }
    }

    &__image {
        @include bg-blue-image;
        @include bg-gradient(365, 608);

        @include tablet {
            order: -1;
        }

        &::before {
            bottom: 0;
            right: 20%;
        }

        &::after {
            rotate: 90deg;
        }
    }

    &__video-wrapper {
        position: absolute;
        
        right: fluid(100, 0);
        bottom: rem(-40);
    }
}