@use '../helpers' as *;

.hero {
    &__inner {
        position: relative;
        padding-top: rem(50);

        &::before {
            background-image: url(/image/bg/2.png);
            content: '';
            position: absolute;
            right: rem(400);
            bottom: rem(-170);
            width: rem(2682);
            height: rem(721);
            z-index: -10;
        }

        @include laptop {
            &::before {
                bottom: 0;
            }
        }

        @include tablet {
            &::before {
                right: rem(-400);
                bottom: rem(100);
            }
        }
    }

    &__main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: rem(10);

        @include tablet {
            flex-direction: column;
            align-items: start;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        row-gap: rem(42);
    }

    &__body {
        max-width: rem(540);
    }

    &__subtitle {
        margin-block: var(--padding-block-y) rem(32);
    }

    &__img-wrapper {
        @include bg-gradient(354, 422);
        align-self: end;

        @include tablet {
            width: rem(354);
            height: rem(422);
            margin-right: rem(-115);
        }
    }

    &__advantages {
        padding-bottom: fluid(120, 100);
    }
}